{% extends 'base.html' %}
{% block title %}Registration{% endblock title %}
{% block content %}
<div class="container my-3 shadow-lg p-3 mb-5 bg-body rounded col-md-8">
  <h4>Registration form</h4>
  <hr>
  <div class="row">
    <div class="col-md-3"> <h4>Admin : {{request.user}}</h4></div>
    <div class="col-md-6"></div>
    <div class="col-md-2" style="margin-left: auto;"><a class="btn btn-dark d-grid gap-2 d-md-flex justify-content-md-end"  href="/userlogout/" role="button" style="margin-left: 48px;">logout</a></h4></div>
  </div>
 
  

  
  <form class="row g-3" method="POST" action="">
  {% csrf_token %}
  <div class="col-md-6">
    <label for="firstnamne" class="form-label">FirstName</label>
    <input type="text" class="form-control" id="firstnane" name="firstname">
  </div>
  <div class="col-md-6">
    <label for="lastname" class="form-label">LastName</label>
    <input type="text" class="form-control" id="lastname" name="lastname">
  </div>
  <div class="col-12">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="col-12">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" id="address" name="address">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="city" name="city">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-dark">Submit</button>
  </div>
</form>

</div>

{% endblock content %}